<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.univthink.jukebox"
    versionCode = "20000"
    version     = "2.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Jukebox</name>
  <gap:plugin name="cordova.whitelist.whitelistplugin" />
    <access origin="http://*" />
  <description>
      Jukebox for Spotify Premium.
  </description>
  <icon src="icon.png" />
  <author href="http://universallythinking.com" email="support@universallythinking.com">
      Ben Barnett
  </author>

</widget>
