<?xml version="1.0" encoding="utf-8"?>
<widget defaultlocale="en-US" id="com.univthink.jukebox" version="3.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">
  <plugin name="cordova-plugin-whitelist" source="npm" />
    <name>PartyMusic Jukebox - Guest</name>
    <description>Jukebox application for Spotify</description>
    <author email="ben@univthink.com" href="http://universallythinking.com">Ben Barnett</author>
    <vs:template-name>BlankJS</vs:template-name>
    <vs:toolsetVersion>6.3.1</vs:toolsetVersion>
    <action name="android.intent.action.VIEW" />
    <category name="android.intent.category.DEFAULT" />
    <category name="android.intent.category.BROWSABLE" />
    <uses-permission name="android.permission.INTERNET" />
    <access origin="*" />
    <access origin="http://partymusic.co/*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://partymusic.co/*" />
    <allow-navigation href="https://*" />
    <allow-intent href="https://*" />
    <allow-navigation href="http://partymusic.co/*" />
    <icon src="res/xml/icon.png" />
    <preference name="loglevel" value="DEBUG" />
    <preference name="Fullscreen" value="True" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="Orientation" value="portrait" />
    <preference name="loadUrlTimeoutValue" value="700000" />
  <platform name="ios">
    <icon platform="ios" src="iosicon.png" />
  </platform>
  <platform name="android">
    <icon platform="android" src="icon.png" />
  </platform>
</widget>
